# Project Name -

**Glassdoor EDA**

# Project Summary -

**Analysis of Glassdoor Data.**

# GitHub Link -

**https://github.com/Rohits933**

# Problem Statement -

**1.   How Does Salary vary by Job Position (e.g., Data Scientist vs Data Engineet vs DevOps Engineer)**

**2.   What is the impact of Company Size on salart levels?**

**3. How do Salaries differ by location(e.g., San Francisco vs. Austin vs. New York)?**

# Lets Begin - First of all Import All Library - Numpy, Pandas and plotly.

In [25]:
import pandas as pd
import numpy as np
import plotly.express as px

# Connect - import data from drive using pd.read_csv(File).

In [5]:
Data = pd.read_csv('/content/drive/MyDrive/Internship Project/Project 2 - Glassdoor Project/glassdoor_jobs.csv')
Data

,Unnamed: 0,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors
0,0,Data Scientist,$53K-$91K (Glassdoor est.),"Data Scientist\nLocation: Albuquerque, NM\nEdu...",3.8,Tecolote Research\n3.8,"Albuquerque, NM","Goleta, CA",501 to 1000 employees,1973,Company - Private,Aerospace & Defense,Aerospace & Defense,$50 to $100 million (USD),-1
1,1,Healthcare Data Scientist,$63K-$112K (Glassdoor est.),What You Will Do:\n\nI. General Summary\n\nThe...,3.4,University of Maryland Medical System\n3.4,"Linthicum, MD","Baltimore, MD",10000+ employees,1984,Other Organization,Health Care Services & Hospitals,Health Care,$2 to $5 billion (USD),-1
2,2,Data Scientist,$80K-$90K (Glassdoor est.),"KnowBe4, Inc. is a high growth information sec...",4.8,KnowBe4\n4.8,"Clearwater, FL","Clearwater, FL",501 to 1000 employees,2010,Company - Private,Security Services,Business Services,$100 to $500 million (USD),-1
3,3,Data Scientist,$56K-$97K (Glassdoor est.),*Organization and Job ID**\nJob ID: 310709\n\n...,3.8,PNNL\n3.8,"Richland, WA","Richland, WA",1001 to 5000 employees,1965,Government,Energy,"Oil, Gas, Energy & Utilities",$500 million to $1 billion (USD),"Oak Ridge National Laboratory, National Renewa..."
4,4,Data Scientist,$86K-$143K (Glassdoor est.),Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions\n2.9,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
951,951,Senior Data Engineer,$72K-$133K (Glassdoor est.),THE CHALLENGE\nEventbrite has a world-class da...,4.4,Eventbrite\n4.4,"Nashville, TN","San Francisco, CA",1001 to 5000 employees,2006,Company - Public,Internet,Information Technology,$100 to $500 million (USD),"See Tickets, TicketWeb, Vendini"
952,952,"Project Scientist - Auton Lab, Robotics Institute",$56K-$91K (Glassdoor est.),The Auton Lab at Carnegie Mellon University is...,2.6,Software Engineering Institute\n2.6,"Pittsburgh, PA","Pittsburgh, PA",501 to 1000 employees,1984,College / University,Colleges & Universities,Education,Unknown / Non-Applicable,-1
953,953,Data Science Manager,$95K-$160K (Glassdoor est.),Data Science ManagerResponsibilities:\n\nOvers...,3.2,"Numeric, LLC\n3.2","Allentown, PA","Chadds Ford, PA",1 to 50 employees,-1,Company - Private,Staffing & Outsourcing,Business Services,$5 to $10 million (USD),-1
954,954,Data Engineer,-1,Loading...\n\nTitle: Data Engineer\n\nLocation...,4.8,IGNW\n4.8,"Austin, TX","Portland, OR",201 to 500 employees,2015,Company - Private,IT Services,Information Technology,$25 to $50 million (USD),Slalom
955,955,Research Scientist – Security and Privacy,$61K-$126K (Glassdoor est.),Returning Candidate? Log back in to the Career...,3.6,Riverside Research Institute\n3.6,"Beavercreek, OH","Arlington, VA",501 to 1000 employees,1967,Nonprofit Organization,Federal Agencies,Government,$50 to $100 million (USD),-1

# Information of Dataframe and we found no null values in Data.

In [6]:
Data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 956 entries, 0 to 955
Data columns (total 15 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         956 non-null    int64
 1   Job Title          956 non-null    object
 2   Salary Estimate    956 non-null    object
 3   Job Description    956 non-null    object
 4   Rating             956 non-null    float64
 5   Company Name       956 non-null    object
 6   Location           956 non-null    object
 7   Headquarters       956 non-null    object
 8   Size               956 non-null    object
 9   Founded            956 non-null    int64
 10  Type of ownership  956 non-null    object
 11  Industry           956 non-null    object
 12  Sector             956 non-null    object
 13  Revenue            956 non-null    object
 14  Competitors        956 non-null    object
dtypes: float64(1), int64(2), object(12)
memory usage: 112.2+ KB

# We can see that in data salary Estimate is in object - dtype but we need it in integer (Number) dtype. So We have to remove '$', 'K', '(Glassdoor estimate)' etc. to get numberical value.

In [7]:
Data = Data[Data['Salary Estimate']!='-1']
Data = Data[Data['Size']!='-1']
Data = Data[Data['Size']!='Unknown']
Data

,Unnamed: 0,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors
0,0,Data Scientist,$53K-$91K (Glassdoor est.),"Data Scientist\nLocation: Albuquerque, NM\nEdu...",3.8,Tecolote Research\n3.8,"Albuquerque, NM","Goleta, CA",501 to 1000 employees,1973,Company - Private,Aerospace & Defense,Aerospace & Defense,$50 to $100 million (USD),-1
1,1,Healthcare Data Scientist,$63K-$112K (Glassdoor est.),What You Will Do:\n\nI. General Summary\n\nThe...,3.4,University of Maryland Medical System\n3.4,"Linthicum, MD","Baltimore, MD",10000+ employees,1984,Other Organization,Health Care Services & Hospitals,Health Care,$2 to $5 billion (USD),-1
2,2,Data Scientist,$80K-$90K (Glassdoor est.),"KnowBe4, Inc. is a high growth information sec...",4.8,KnowBe4\n4.8,"Clearwater, FL","Clearwater, FL",501 to 1000 employees,2010,Company - Private,Security Services,Business Services,$100 to $500 million (USD),-1
3,3,Data Scientist,$56K-$97K (Glassdoor est.),*Organization and Job ID**\nJob ID: 310709\n\n...,3.8,PNNL\n3.8,"Richland, WA","Richland, WA",1001 to 5000 employees,1965,Government,Energy,"Oil, Gas, Energy & Utilities",$500 million to $1 billion (USD),"Oak Ridge National Laboratory, National Renewa..."
4,4,Data Scientist,$86K-$143K (Glassdoor est.),Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions\n2.9,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
950,950,"Sr Scientist, Immuno-Oncology - Oncology",$58K-$111K (Glassdoor est.),Site Name: USA - Massachusetts - Cambridge\nPo...,3.9,GSK\n3.9,"Cambridge, MA","Brentford, United Kingdom",10000+ employees,1830,Company - Public,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,$10+ billion (USD),"Pfizer, AstraZeneca, Merck"
951,951,Senior Data Engineer,$72K-$133K (Glassdoor est.),THE CHALLENGE\nEventbrite has a world-class da...,4.4,Eventbrite\n4.4,"Nashville, TN","San Francisco, CA",1001 to 5000 employees,2006,Company - Public,Internet,Information Technology,$100 to $500 million (USD),"See Tickets, TicketWeb, Vendini"
952,952,"Project Scientist - Auton Lab, Robotics Institute",$56K-$91K (Glassdoor est.),The Auton Lab at Carnegie Mellon University is...,2.6,Software Engineering Institute\n2.6,"Pittsburgh, PA","Pittsburgh, PA",501 to 1000 employees,1984,College / University,Colleges & Universities,Education,Unknown / Non-Applicable,-1
953,953,Data Science Manager,$95K-$160K (Glassdoor est.),Data Science ManagerResponsibilities:\n\nOvers...,3.2,"Numeric, LLC\n3.2","Allentown, PA","Chadds Ford, PA",1 to 50 employees,-1,Company - Private,Staffing & Outsourcing,Business Services,$5 to $10 million (USD),-1
955,955,Research Scientist – Security and Privacy,$61K-$126K (Glassdoor est.),Returning Candidate? Log back in to the Career...,3.6,Riverside Research Institute\n3.6,"Beavercreek, OH","Arlington, VA",501 to 1000 employees,1967,Nonprofit Organization,Federal Agencies,Government,$50 to $100 million (USD),-1

# Second Step remoeve 'Per Hour' and 'employer provide salary'

In [8]:
salary = Data['Salary Estimate'].apply(lambda x: x.split('(')[0])
salary = salary.apply(lambda x: x.lower().replace('per hour','').replace('employer provided salary:',''))
salary

0       $53k-$91k
1      $63k-$112k
2       $80k-$90k
3       $56k-$97k
4      $86k-$143k
          ...
950    $58k-$111k
951    $72k-$133k
952     $56k-$91k
953    $95k-$160k
955    $61k-$126k
Name: Salary Estimate, Length: 732, dtype: object

# Third Step Remove K, k , $

In [9]:
salary = salary.apply(lambda x: x.replace('K','').replace('$','').replace('k',''))
salary

0       53-91
1      63-112
2       80-90
3       56-97
4      86-143
        ...
950    58-111
951    72-133
952     56-91
953    95-160
955    61-126
Name: Salary Estimate, Length: 732, dtype: object

# We need to create two separate column as Min_Salary and Max_Salary convert them into integer.

In [10]:
Data['min_salary'] = salary.apply(lambda x: int(x.split('-')[0]))
Data['max_salary'] = salary.apply(lambda y: int(y.split('-')[1]))
Data

,Unnamed: 0,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,min_salary,max_salary
0,0,Data Scientist,$53K-$91K (Glassdoor est.),"Data Scientist\nLocation: Albuquerque, NM\nEdu...",3.8,Tecolote Research\n3.8,"Albuquerque, NM","Goleta, CA",501 to 1000 employees,1973,Company - Private,Aerospace & Defense,Aerospace & Defense,$50 to $100 million (USD),-1,53,91
1,1,Healthcare Data Scientist,$63K-$112K (Glassdoor est.),What You Will Do:\n\nI. General Summary\n\nThe...,3.4,University of Maryland Medical System\n3.4,"Linthicum, MD","Baltimore, MD",10000+ employees,1984,Other Organization,Health Care Services & Hospitals,Health Care,$2 to $5 billion (USD),-1,63,112
2,2,Data Scientist,$80K-$90K (Glassdoor est.),"KnowBe4, Inc. is a high growth information sec...",4.8,KnowBe4\n4.8,"Clearwater, FL","Clearwater, FL",501 to 1000 employees,2010,Company - Private,Security Services,Business Services,$100 to $500 million (USD),-1,80,90
3,3,Data Scientist,$56K-$97K (Glassdoor est.),*Organization and Job ID**\nJob ID: 310709\n\n...,3.8,PNNL\n3.8,"Richland, WA","Richland, WA",1001 to 5000 employees,1965,Government,Energy,"Oil, Gas, Energy & Utilities",$500 million to $1 billion (USD),"Oak Ridge National Laboratory, National Renewa...",56,97
4,4,Data Scientist,$86K-$143K (Glassdoor est.),Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions\n2.9,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee",86,143
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
950,950,"Sr Scientist, Immuno-Oncology - Oncology",$58K-$111K (Glassdoor est.),Site Name: USA - Massachusetts - Cambridge\nPo...,3.9,GSK\n3.9,"Cambridge, MA","Brentford, United Kingdom",10000+ employees,1830,Company - Public,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,$10+ billion (USD),"Pfizer, AstraZeneca, Merck",58,111
951,951,Senior Data Engineer,$72K-$133K (Glassdoor est.),THE CHALLENGE\nEventbrite has a world-class da...,4.4,Eventbrite\n4.4,"Nashville, TN","San Francisco, CA",1001 to 5000 employees,2006,Company - Public,Internet,Information Technology,$100 to $500 million (USD),"See Tickets, TicketWeb, Vendini",72,133
952,952,"Project Scientist - Auton Lab, Robotics Institute",$56K-$91K (Glassdoor est.),The Auton Lab at Carnegie Mellon University is...,2.6,Software Engineering Institute\n2.6,"Pittsburgh, PA","Pittsburgh, PA",501 to 1000 employees,1984,College / University,Colleges & Universities,Education,Unknown / Non-Applicable,-1,56,91
953,953,Data Science Manager,$95K-$160K (Glassdoor est.),Data Science ManagerResponsibilities:\n\nOvers...,3.2,"Numeric, LLC\n3.2","Allentown, PA","Chadds Ford, PA",1 to 50 employees,-1,Company - Private,Staffing & Outsourcing,Business Services,$5 to $10 million (USD),-1,95,160
955,955,Research Scientist – Security and Privacy,$61K-$126K (Glassdoor est.),Returning Candidate? Log back in to the Career...,3.6,Riverside Research Institute\n3.6,"Beavercreek, OH","Arlington, VA",501 to 1000 employees,1967,Nonprofit Organization,Federal Agencies,Government,$50 to $100 million (USD),-1,61,126

# Create Average Salary Column

In [11]:
Data['avg_salary'] = (Data['min_salary']+ Data['max_salary'])*0.5

In [12]:
Data.head()

,Unnamed: 0,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,min_salary,max_salary,avg_salary
0,0,Data Scientist,$53K-$91K (Glassdoor est.),"Data Scientist\nLocation: Albuquerque, NM\nEdu...",3.8,Tecolote Research\n3.8,"Albuquerque, NM","Goleta, CA",501 to 1000 employees,1973,Company - Private,Aerospace & Defense,Aerospace & Defense,$50 to $100 million (USD),-1,53,91,72.0
1,1,Healthcare Data Scientist,$63K-$112K (Glassdoor est.),What You Will Do:\n\nI. General Summary\n\nThe...,3.4,University of Maryland Medical System\n3.4,"Linthicum, MD","Baltimore, MD",10000+ employees,1984,Other Organization,Health Care Services & Hospitals,Health Care,$2 to $5 billion (USD),-1,63,112,87.5
2,2,Data Scientist,$80K-$90K (Glassdoor est.),"KnowBe4, Inc. is a high growth information sec...",4.8,KnowBe4\n4.8,"Clearwater, FL","Clearwater, FL",501 to 1000 employees,2010,Company - Private,Security Services,Business Services,$100 to $500 million (USD),-1,80,90,85.0
3,3,Data Scientist,$56K-$97K (Glassdoor est.),*Organization and Job ID**\nJob ID: 310709\n\n...,3.8,PNNL\n3.8,"Richland, WA","Richland, WA",1001 to 5000 employees,1965,Government,Energy,"Oil, Gas, Energy & Utilities",$500 million to $1 billion (USD),"Oak Ridge National Laboratory, National Renewa...",56,97,76.5
4,4,Data Scientist,$86K-$143K (Glassdoor est.),Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions\n2.9,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee",86,143,114.5

# Below We can see that different type of jobs are listed in data.

In [13]:
# Group by Job Title
salary_stats = Data.groupby('Job Title')['avg_salary'].describe()
print(salary_stats)

                                                    count   mean  std    min  \
Job Title
Ag Data Scientist                                     1.0   80.5  NaN   80.5
Analytics - Business Assurance Data Analyst           2.0   43.0  0.0   43.0
Analytics Consultant                                  1.0   66.5  NaN   66.5
Analytics Manager                                     2.0   87.5  0.0   87.5
Analytics Manager - Data Mart                         4.0   64.0  0.0   64.0
...                                                   ...    ...  ...    ...
System and Data Analyst                               1.0   59.0  NaN   59.0
Systems Engineer II - Data Analyst                    2.0   62.5  0.0   62.5
Technology-Minded, Data Professional Opportunities    2.0   70.5  0.0   70.5
VP, Data Science                                      2.0  124.5  0.0  124.5
Web Data Analyst                                      1.0  106.0  NaN  106.0

                                                      25%    50%    75%    max
Job Title
Ag Data Scientist                                    80.5   80.5   80.5   80.5
Analytics - Business Assurance Data Analyst          43.0   43.0   43.0   43.0
Analytics Consultant                                 66.5   66.5   66.5   66.5
Analytics Manager                                    87.5   87.5   87.5   87.5
Analytics Manager - Data Mart                        64.0   64.0   64.0   64.0
...                                                   ...    ...    ...    ...
System and Data Analyst                              59.0   59.0   59.0   59.0
Systems Engineer II - Data Analyst                   62.5   62.5   62.5   62.5
Technology-Minded, Data Professional Opportunities   70.5   70.5   70.5   70.5
VP, Data Science                                    124.5  124.5  124.5  124.5
Web Data Analyst                                    106.0  106.0  106.0  106.0

[260 rows x 8 columns]

# Now we have to group all "common job title" such as 'Data Analyst', 'Data Science', 'Data engineer','DevOps Engineer' etc.

In [14]:
def map_role(title):
    if 'scientist' in title.lower():
        return 'Data Scientist'
    elif 'engineer' in title.lower():
        return 'Data Engineer'
    elif 'ops' in title.lower():
        return 'DevOps engineer'
    elif 'analyst' in title.lower():
        return 'Data Analyst'
    elif 'machine learning' in title.lower():
        return 'ML engineer'
    else:
        return 'Others'
Data['Job Role'] = Data['Job Title'].apply(map_role)
Data

,Unnamed: 0,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,min_salary,max_salary,avg_salary,Job Role
0,0,Data Scientist,$53K-$91K (Glassdoor est.),"Data Scientist\nLocation: Albuquerque, NM\nEdu...",3.8,Tecolote Research\n3.8,"Albuquerque, NM","Goleta, CA",501 to 1000 employees,1973,Company - Private,Aerospace & Defense,Aerospace & Defense,$50 to $100 million (USD),-1,53,91,72.0,Data Scientist
1,1,Healthcare Data Scientist,$63K-$112K (Glassdoor est.),What You Will Do:\n\nI. General Summary\n\nThe...,3.4,University of Maryland Medical System\n3.4,"Linthicum, MD","Baltimore, MD",10000+ employees,1984,Other Organization,Health Care Services & Hospitals,Health Care,$2 to $5 billion (USD),-1,63,112,87.5,Data Scientist
2,2,Data Scientist,$80K-$90K (Glassdoor est.),"KnowBe4, Inc. is a high growth information sec...",4.8,KnowBe4\n4.8,"Clearwater, FL","Clearwater, FL",501 to 1000 employees,2010,Company - Private,Security Services,Business Services,$100 to $500 million (USD),-1,80,90,85.0,Data Scientist
3,3,Data Scientist,$56K-$97K (Glassdoor est.),*Organization and Job ID**\nJob ID: 310709\n\n...,3.8,PNNL\n3.8,"Richland, WA","Richland, WA",1001 to 5000 employees,1965,Government,Energy,"Oil, Gas, Energy & Utilities",$500 million to $1 billion (USD),"Oak Ridge National Laboratory, National Renewa...",56,97,76.5,Data Scientist
4,4,Data Scientist,$86K-$143K (Glassdoor est.),Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions\n2.9,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee",86,143,114.5,Data Scientist
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
950,950,"Sr Scientist, Immuno-Oncology - Oncology",$58K-$111K (Glassdoor est.),Site Name: USA - Massachusetts - Cambridge\nPo...,3.9,GSK\n3.9,"Cambridge, MA","Brentford, United Kingdom",10000+ employees,1830,Company - Public,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,$10+ billion (USD),"Pfizer, AstraZeneca, Merck",58,111,84.5,Data Scientist
951,951,Senior Data Engineer,$72K-$133K (Glassdoor est.),THE CHALLENGE\nEventbrite has a world-class da...,4.4,Eventbrite\n4.4,"Nashville, TN","San Francisco, CA",1001 to 5000 employees,2006,Company - Public,Internet,Information Technology,$100 to $500 million (USD),"See Tickets, TicketWeb, Vendini",72,133,102.5,Data Engineer
952,952,"Project Scientist - Auton Lab, Robotics Institute",$56K-$91K (Glassdoor est.),The Auton Lab at Carnegie Mellon University is...,2.6,Software Engineering Institute\n2.6,"Pittsburgh, PA","Pittsburgh, PA",501 to 1000 employees,1984,College / University,Colleges & Universities,Education,Unknown / Non-Applicable,-1,56,91,73.5,Data Scientist
953,953,Data Science Manager,$95K-$160K (Glassdoor est.),Data Science ManagerResponsibilities:\n\nOvers...,3.2,"Numeric, LLC\n3.2","Allentown, PA","Chadds Ford, PA",1 to 50 employees,-1,Company - Private,Staffing & Outsourcing,Business Services,$5 to $10 million (USD),-1,95,160,127.5,Others
955,955,Research Scientist – Security and Privacy,$61K-$126K (Glassdoor est.),Returning Candidate? Log back in to the Career...,3.6,Riverside Research Institute\n3.6,"Beavercreek, OH","Arlington, VA",501 to 1000 employees,1967,Nonprofit Organization,Federal Agencies,Government,$50 to $100 million (USD),-1,61,126,93.5,Data Scientist

# Average Salary by Job Role Bar Chart

In [26]:
# Group by Job Role and calculate average salary
salary_stats = Data.groupby('Job Role')['avg_salary'].max().reset_index()
print(salary_stats)

# Create bar chart
fig = px.bar(salary_stats, y='avg_salary', x='Job Role', text='avg_salary')
fig.update_traces(texttemplate='$%{text:.0f}K', textposition='outside')

# Customize layout
fig.update_layout(
    title='Average Salary by Job Role',
    title_font_size=30,
    yaxis_tickprefix='$',
    yaxis_ticksuffix='K',
    yaxis_tickformat=',',
    xaxis_title='Job Role',
    yaxis_title='Average Salary (USD)'
)

fig.show()

         Job Role  avg_salary
0    Data Analyst       173.0
1   Data Engineer       205.0
2  Data Scientist       237.5
3          Others       254.0

# Average Salary by Company Size Bar Chart

In [16]:
# Group by Size and calculate average salary
company_stats = Data.groupby('Size')['avg_salary'].max().reset_index()
print(company_stats)

# Create bar chart
fig = px.bar(company_stats,y='avg_salary', x='Size', text = 'avg_salary')
fig.update_traces(texttemplate = '$%{text:,.0f}K',textposition='outside')
# Customize layout
fig.update_layout(title='Average Salary by Company Size',
                  title_font_size = 30,
                  yaxis_tickprefix = '$',
                  yaxis_ticksuffix='K',
                  yaxis_tickformat =',',
                  xaxis_title='Company Size',
                  yaxis_title='Average Salary (USD)')
fig.show()

                      Size  avg_salary
0        1 to 50 employees       169.0
1         10000+ employees       254.0
2   1001 to 5000 employees       237.5
3     201 to 500 employees       181.0
4  5001 to 10000 employees       164.0
5    501 to 1000 employees       232.5
6      51 to 200 employees       225.0

# As we can see that below the Location data have two name with comma. We want one name either 0th index (New York) or 1st indext(NY).

In [19]:
Data['Location']

0      Albuquerque, NM
1        Linthicum, MD
2       Clearwater, FL
3         Richland, WA
4         New York, NY
            ...
950      Cambridge, MA
951      Nashville, TN
952     Pittsburgh, PA
953      Allentown, PA
955    Beavercreek, OH
Name: Location, Length: 732, dtype: object

In [20]:
Data['location'] = Data['Location'].apply(lambda x: x.split(',')[0])
Data['location'].value_counts()

location
New York         54
San Francisco    49
Cambridge        41
Chicago          32
Boston           23
                 ..
Milpitas          1
Watertown         1
Irvine            1
Ann Arbor         1
Olympia           1
Name: count, Length: 195, dtype: int64

Jobs Vacancies are

# Average Salary by Location Bar Chart

In [23]:
# Group by Job Role and calculate average salary
location_stats =(Data.groupby('location')
    .agg(avg_salary=('avg_salary', 'max'), job_count=('avg_salary', 'count'))
    .reset_index()
    .sort_values(by='job_count',ascending=False)
    .head(15))
print(location_stats)
# now create Bar Plot
fig = px.bar(location_stats,
             y='avg_salary',
             x='location',
             text='avg_salary',
             hover_data=['job_count'])
fig.update_traces(texttemplate='$%{text:.0f}K', textposition='outside')

# Customize layout
fig.update_layout(title='Average Salary by Location',
                  title_font_size=30,
                  yaxis_tickprefix='$',
                  yaxis_ticksuffix='K',
                  yaxis_tickformat=',',
                  xaxis_title='Location',
                  yaxis_title='Average Salary (USD)')
fig.show()

          location  avg_salary  job_count
119       New York       172.0         54
160  San Francisco       232.5         49
29       Cambridge       172.0         41
38         Chicago       254.0         32
25          Boston       164.0         23
161       San Jose       173.0         13
138     Pittsburgh       124.0         12
155      Rockville       109.0         11
151       Richland        98.5         10
75         Herndon       147.0         10
175    Springfield       105.5         10
190  Winston-Salem       117.5         10
185     Washington       237.5          9
159      San Diego       151.5          9
82    Indianapolis       122.5          9